<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template"
>
<div layout:fragment="content" >
    <head>
        <meta charset="UTF-8">
        <title>Customers</title>
        <link rel="stylesheet" href="/webjars/bootstrap/5.3.2/css/bootstrap.min.css">
    </head>
    <body>
    <div class="card">
        <div class="card-header fw-bold text-white bg-warning"> Customers Table </div>

        <div class="card-body">
            <table class="table table-striped">
                <tr >
                    <th class="bg-black text-white">Id</th> <th class="bg-black text-white">Name</th>
                    <th class="bg-black text-white">Email</th>
                </tr>
                <tr th:each="c:${Customers}" >
                    <td th:text="${c.id}"></td>
                    <td th:text="${c.name}"></td>
                    <td th:text="${c.email}"></td>
                </tr>
            </table>
        </div>
    </div>



    </body>
</div>

</html>